<%- include("top", {"title": "Features", "pagename":"features"}); %>
<div class = "inner cover">
	<h1 class="cover-heading">Features</h1>
	<p class="lead"><ul>
	<li>Dispenses treats</li>
	<li>Enables FunTime(tm) with the dog</li>
	<li>Allows for WebRTC video viewing with dog</li>
	<li>High security</li>
	</ul>
	</p>
</div>
<%- include("bottom"); %>
